.main-ustedes{
    background-color: rgb(15, 173, 148, 25%);
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(16, auto);
    row-gap: 0.625rem;
    column-gap: 0.9375rem;
    .sectionPortada{
        grid-column: 1 / 10;
        grid-row: 1 / 2;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectioncards-1{
        grid-column: 2 / 5;
        grid-row: 3 / 5;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .card-1{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectioncards-2{
        @extend .sectioncards-1;
        grid-column: 5 / 9;
        grid-row: 3 / 5;
        .card-2{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectioncards-3{
        @extend .sectioncards-1;
        grid-column: 2 / 4;
        grid-row: 5 / 7;
        .card-3{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectioncards-4{
        @extend .sectioncards-1;
        grid-column: 4 / 9;
        grid-row: 5 / 7;
        .card-4{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectioncards-5{
        @extend .sectioncards-1;
        grid-column: 2 / 6;
        grid-row: 7 / 10;
        .card-5{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectionvideo-1{
        @extend .sectioncards-1;
        grid-column: 6 / 9;
        grid-row: 7 / 13;
        .video-1{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectionvideo-2{
        @extend .sectioncards-1;
        grid-column: 2 / 5;
        grid-row: 13 / 16;
        .video-2{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectionvideo-3{
        @extend .sectioncards-1;
        grid-column: 5 / 9;
        grid-row: 13 / 16;
        .video-3{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sectionvideo-4{
        @extend .sectioncards-1;
        grid-column: 2 / 6;
        grid-row: 10 / 13;
        .video-4{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
