@media only screen and (min-width:560px) and (max-width:800px){
    .main-instructora{
        .seccionPortada{
            height: 100%;
            img{
                height: 25rem;
            }
        }
        .seccionInstructora{
            height: 100%;
            padding: 10px;
            .container{
                text-align: center;
                img{
                    width: 500px;
                    margin: 10px;
                    padding: 10px;
                    float: none;
                }
                p{
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}
