@media (max-width: 1024px){ 
    .main-pf{
        .seccionPreguntas{
            details{
                summary{
                    h2{
                        font-size: 1.75rem;
                        line-height: 1.875rem;
                    }
                    p{
                    font-size: 1.25rem;
                    }
                }
            }
        }
    }
}



